<app-header-account></app-header-account>


<div class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <p class="register-title">SIGN UP</p>

    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" placeholder="Username" formControlName="username"/>

      </mat-form-field>
    </div>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email"  placeholder="example@example.com"formControlName="email"/>

      </mat-form-field>
    </div>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" formControlName="password" />

      </mat-form-field>
    </div>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput placeholder="Password" formControlName="confirmPassword" />
        <mat-error *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword')!.touched">
          Passwords do not match.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row-control row-actions">
      <button mat-raised-button color="primary" type="submit">Sign Up</button>
    </div>
  </form>
</div>
