<app-header-account></app-header-account>

<div class="forgot-pass-container">
  <form action="" class="forgot-pass-form">
    <p class="forgot-pass-title">FORGOT PASSWORD</p>

    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Username or email</mat-label>
        <input matInput placeholder="Username" required />
      </mat-form-field>
    </div>


    <div class="row-control row-actions">
      <button mat-raised-button color="primary" type="submit">Confirm</button>
    </div>



  </form>
</div>
